@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;  
}

body, html {
  min-width: 506px;
  background:  #FFFFFF;
  
} 

a,
a:hover {
  text-decoration: none;
  color: unset;
}